

<div class="container">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="Employee-Add" target="_blank" class="btn btn-secondary">Add new Employee</a>
           
        </div>
    </div>
    <div class="row mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">LastName</th>
                    <th scope="col">FatherName</th>
                    <th scope="col">CreatedAt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                  
                    <tr>
                        <th scope="row">@employee.Name</th>
                        <td>@employee.LastName</td>
                        <td>@employee.FatherName</td>
                          <td>@employee.CreatedAt</td>

                        <td class="d-flex justify-content-between">
                            <a asp-route="Employee-update-id" asp-route-EmployeeCode="@employee.EmployeCode" class="col-3 btn btn-secondary">Update</a>
                            <a  asp-route="Employee-Delete-id" asp-route-EmployeeCode="@employee.EmployeCode"  class="col-3 btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>